body {
    font-family: sans-serif;
    color: #eff2f5f6;
    background-color: #C36A88;
    background-image: url(../Recursos/fondos/usar/fondo.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-width: 500px; 
    z-index: 1;  
}

.scroll {
    scroll-margin-top: 70px;  
}

#barramenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -50;
    transition: top 1.5s;  
    position: sticky;
    z-index: 3;  
    background-color:#eff2f5f6;
    min-width: 500px;
    width: 100%;
    height: 12%; 
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);    
}

#barramenu img{ 
    height: 90%;
    margin-left: 40px;
    transition: transform 0.3s ease;

}
#barramenu img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;    
}

.navbar {
    display: flex;   
    justify-content: space-between;
    align-items: center; 
    width: 33%;    
}

.navbar a{
    font-style: normal;
    text-decoration: none; 
    color: #C2688A;      
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    font-weight: bolder;     
    transition: transform 0.4s ease-in-out; 
}

.navbar a:hover{
    color: #eff2f5f6;    
    background-color: #C2688A;  
    cursor: pointer;
    transform: scale(1.09);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;    
}

.navbar a:active{
    color: #eff2f5f6;    
    cursor: pointer;
    transform: scale(0.9);
    transition: transform 0.2s ease-in-out;    
}

#barramenu button{
    font-size: large;
    margin-right: 40px;
    padding: 15px 30px;
    color: #eff2f5f6;
    font-weight: bolder;
    border: none;
    border-radius: 25px;
    background-color: #C2688A;  
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

#barramenu button:hover {
    background-color: #c4899f;
    transform: scale(1.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

#barramenu button:active {
    background-color: #c4899f;
    transform: scale(0.9);
    transition: transform 0.2s ease;
}

#barramenu:hover {
    top: 0;
    transition: top 0.4s;    
}

.fondoimagen{
    background-image: url("../Recursos/1.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.fondoimagen img {
    width: 100%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.textosuperpuesto {
    font-size: larger;
    color: #EFF2F5;
    background-color: rgba(0, 0, 0, 0.562);
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 25px;
    min-width: 20%;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);    
}

.marcofachero {
    width: 60%;
    overflow:visible;
    margin: 0 auto;  
    padding: 20px;
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.233);
    border-radius: 25px;
    margin-bottom: 70px;
    margin-top: 30px;
    transition: transform 0.4s ease-in-out ;
}

.subtitulos1 {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1)
}

.subtitulos2 {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    padding-top: 20px;
}

.subtitulos3 {
    max-width: 60%;
    margin: 0 auto;
    padding-top: 20px;
}

.lista {
    text-align: left;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

ul li {
    padding-bottom: 15px;
    max-width: 80%;
    margin: 0 auto;
}

#titulo {
    font-size: large;
    min-width: 500px;   
}

#contenedoriconos {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 10%;
    padding-bottom: 80px;
    padding-top: 20px;
}

.iconosgrandes img{
    border: solid;
    border-color: rgba(107, 124, 143, 0);
    border-top: 20px;
    border-bottom: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: 80%;
}

.iconosgrandes a{ 
    border: solid;
    border-color: rgba(107, 124, 143, 0);
    text-align: center;
    max-width: 25%;
    display: block; 
    transition: transform 0.8s ease-in-out ;
    transition: transform 0.4s ease-in;
}

.cursorarriba {
    transform: scale(1);
    transition: transform 0.6s ease-in-out ;
}

.cursorarriba:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out ;
}

.cursorarribatranqui:hover{
    transform: scale(1.15);   
    transition: transform 0.3s ease-in-out ; 
}

.click:active {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.100);
    transform: scale(0.95);
    transition: transform 0.3s ease-in-out;
}

.botonadoptar {
    color: #D47D50;
    background-color: #EFF2F5;
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;    
    border-radius: 20px;
    width: 250px;
    height: 80px;
    margin-bottom: 30px;    
    transition: transform 0.6s ease-in-out ;
}

.botonadoptar:hover {
    color: #EFF2F5;
    background-color: #C2688A;
    transform: scale(1.09);
    transition: transform 0.2s ease-in-out;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.botonadoptar:active {
    background-color: #C2688A;
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in;
}

#botonadoptar:link, #botonadoptar:visited {
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
}

.sombra {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);  
}

form {    
    display: flex;
    flex-direction: column;
    background-color:#eff2f5f6;
    width: 30%;
    margin: 0 auto;  
    padding: 70px;
    border-radius: 25px;
    margin-bottom: 70px;
    margin-top: 30px;
}

form label {    
    color: #C2688A;
    font-weight: bold;
    font-size: large;
    margin-bottom: 15px;
    margin-top: 20px;   
    margin-bottom: 5px;
}

form input {
    font-size: large;
    background-color: rgba(233, 15, 15, 0);
    border: 0;
    border-bottom: solid 2px #c7c7c7;
    margin-bottom: 5px;    
    transition: border 0.2s ease-in-out;
}

form select {
    margin-bottom: 5px;
}

form textarea, select {
    border: solid 2px #c7c7c7;
    background-color: #EFF2F5;
    transition: border 0.2s ease-in-out;
}

form textarea, select:focus {
    outline: 0;
    border: 0;
    border: solid 2px #C2688A;
    transition: border 0.2s ease-in-out;
}

input:focus {
    background-color: rgba(233, 15, 15, 0);
    outline: 0;
    border: 0;
    border-bottom: solid 2px #C2688A;
    transition: border 0.2s ease-in-out;
}

.check {
    margin: 0 auto;
    align-items: center;    
    margin-top: 20px;
    margin-bottom: 5px;
}

.limpiar a {    
    font-style: normal;
    text-decoration: none;
    text-decoration: underline;
    color: #C2688A;
}

.botonoscuro {
    font-size: large;
    padding: 15px 30px;
    color: #eff2f5f6;
    font-weight: bolder;
    border: none;
    border-radius: 25px;
    background-color: #C2688A;  
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

.botonoscuro:hover {
    background-color: #c4899f;
    transform: scale(1.09);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

.botonoscuro:active {
    background-color: #c4899f;
    transform: scale(0.9);
    transition: transform 0.2s ease;
}

.textonegro {
    display: flex;
    align-self: center;
    color: #C2688A;      
    font-weight: bolder;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.error {
    display: none;
    color: #C2688A;
    background-color:#c4899f44;   
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 2px;
}

.mensaje_confirmacion {    
    display: flex;
    justify-content: center;
    align-content: center;   
    color: #C2688A;  
    background-color:#eff2f5f6;
    font-size: x-large;
    font-weight: bolder;

    width: 35%;
    margin: 0 auto;  
    margin-top: 10%;
    margin-bottom: 20px;
    padding: 50px;
    border-radius: 25px; 
    display: none;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);  
    color: #C2688A;      
}